Flask==0.8
Flask-Psycopg2==1.2
Jinja2==2.6
MarkupSafe==0.15
Werkzeug==0.8.3
argparse==1.2.1
configobj==4.7.2
decorator==3.3.3
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
pexpect==2.4
psycopg2==2.4.5
pyOpenSSL==0.13
simplegeneric==0.8.1
wsgiref==0.1.2
